.gaming-sub-container {
  width: 75%;
}
@media screen and (max-width: 767px) {
  .gaming-sub-container {
    width: 100%;
  }
}
.gaming-un-order {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.gaming-image {
  width: 200px;
  height: 250px;
}
.gaming-list-item {
  margin: 15px 20px;
}
.game-flex-container {
  display: flex;
}
.retry-button {
  background-color: #4f46e5;
  width: 100px;
  height: 35px;
  color: #ffffff;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  font-family: 'Roboto';
  cursor: pointer;
}
.failure-view-image {
  width: 40%;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
