.trending-sub-container {
  width: 75%;
}
.trending-container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .trending-sub-container {
    width: 100%;
  }
}
.trending-un-order {
  list-style-type: none;
}
.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
.retry-button {
  background-color: #4f46e5;
  width: 100px;
  height: 35px;
  color: #ffffff;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  font-family: 'Roboto';
  cursor: pointer;
}
.failure-view-image {
  width: 40%;
}
