.not-found-image {
  width: 50%;
}
.not-found-sub-container {
  width: 75%;
}
@media screen and (max-width: 767px) {
  .not-found-sub-container {
    width: 100%;
  }
}
.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
