.contact-logo {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  .contact-logo {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-top: 10px;
  }
}
.logo-container {
  display: flex;
  flex-wrap: wrap;
}
.contact-us-container {
  margin-left: 30px;
}
